version: "3.8"

services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=lambda,dynamodb,dynamodbstreams,iam,logs,sns,sqs
      - DEBUG=1
      - LOCALSTACK_HOSTNAME=localstack
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./localstack/init:/etc/localstack/init"
      - "./localstack-config/:/opt/custom"
    networks:
      - app-network

  wiremock:
    image: wiremock/wiremock:3.13.2
    container_name: wiremock
    ports:
      - "8080:8080"
    volumes:
      - ./wiremock/mappings:/home/wiremock/mappings
      - ./wiremock/files:/home/wiremock/__files
    environment:
      - JAVA_OPTS=-Xmx512m
    networks:
      - app-network

  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis/redis-entrypoint.sh:/usr/local/bin/redis-entrypoint.sh
      - ./redis/redis.conf:/etc/redis/redis.conf
    entrypoint: ["/usr/local/bin/redis-entrypoint.sh"]
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
